+++
title = "SocioAtlas"
linkTitle = "SocioAtlas"

+++

{{< blocks/cover title="SocioAtlas" subtitle="Transforme dados em conexões inteligentes" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Saiba mais <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Mapeamento Sistêmico Multimodal</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
O SocioAtlas é uma plataforma virtual que oferece tecnologia livre para mapeamento de comunidades tradicionais, impactos socioambientais, processos de desenvolvimento local sustentável e governança.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Conheça nossa comunidade!" url="https://github.com/debritto/debritto.github.io/discussions" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Sobre</h1>

Concebido como projeto de investigação doutoral realizado na <em>Universidade Federal Do Paraná</em>, o projeto SocioAtlas é coordenado pelo sociólogo&nbsp;<em><a href="https://www.researchgate.net/profile/Christian_De_Britto" target="_blank"><strong>Dr. Christian De Britto</strong></a></em>&nbsp;contando com a orientação do <em><a href="https://www.researchgate.net/profile/Dimas_Floriani" target="_blank"><strong>Dr. Dimas Floriani</strong></a></em> (<em>UFPR</em>), além do apoio dos professores&nbsp;<em><a href="https://www.researchgate.net/profile/Francisco_Casiello" target="_blank"><strong>Dr. Francisco Casiello</strong></a></em> (<em>PUC-Rosário/Argentina</em>), <strong>Dr. Juan Manuel Villarruel</strong> (<em>PUC-Rosário/Argentina</em>),<strong>&nbsp;Dr. Sandro Luis Schlindwein</strong> (<em>Universidade Federal de Santa Catarina</em>), <strong>Dr. José Edmilson de Souza Lima</strong> (<em>UniCuritiba</em>). 
<p></p>
A fundamentação teórica e prática aplicada no projeto foi idealizada pelos&nbsp;<em><a href="https://www.researchgate.net/profile/J_D_R_De_Raadt" target="_blank" style="font-weight: bold;">Drs. Donald</a> e <a href="https://www.researchgate.net/profile/Veronica_De_Raadt" target="_blank" style="font-weight: bold;">Veronica De Raadt</a> </em>(<em>Luleå Tekniska Universitet/University of Melbourne</em>).
<p></p>
Este site foi construído para divulgar o projeto à comunidade acadêmica e ao público em geral, alcançando tanto <strong>investigadores</strong>, o <strong>poder público</strong> e <strong>sociedade civil</strong>, para que possamos construir colaborativamente um conhecimento aplicado e capaz de auxiliar processos de <strong>governança</strong> com vistas à construção de<span style="font-size: 1rem;">&nbsp;uma <strong>sociedade sustentável</strong>, mais justa e inclusiva <strong>para todos</strong>.
<p></p>
Atualmente a plataforma SocioAtlas é utilizada na linha de pesquisa <em><a href="http://dgp.cnpq.br/dgp/espelholinha/46220025705172961290284" target="_blank"><strong>Estatística, ciências e tecnologias aplicadas a sistemas multimodais</strong></a></em>.

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fab fa-creative-commons" title="Software livre" %}}
O SocioAtlas utiliza apenas <strong>softwares livres</strong>. Isto significa que você pode implantar a solução em sua empresa ou comunidade sem custos adicionais. Os softwares também foram produzidos em regime de <strong>código aberto</strong>, permitindo que você inclua alterações de acordo com suas necessidades, além de ajudar a aprimorar a plataforma.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-tags" title="Banco de dados qualitativo" %}}
Você pode inserir informação de <strong>entrevistas</strong>, percepções de <strong>moradores locais</strong> ou<strong> pesquisadores</strong> qualificados, documentos oficiais, normas jurídicas, jornais, revistas, interpretação de <strong>dados estatísticos</strong>, pontos e polígonos <strong>georeferenciados</strong>. Você pode conher bem a situação com a qual pretende lidar.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-globe-americas" title="Socioambiental" %}}
O termo socioambiental diz respeito à possibilidade de se coletar, manusear e agrupar dados relativos a aspectos éticos, estéticos, jurídicos, operacionais, econômicos, sociais, históricos, biológicos, físicos, espaciais, quantitativos e outros. A plataforma se fundamenta em um arcabouço conceitual que não separa as dimensões da <strong>natureza</strong> daquelas da <strong>sociedade</strong> e da <strong>cultura</strong>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-creative-commons-share" title="Ampla gama de aplicação" %}}
É possível abordar projetos de <strong>responsabilidade social corporativa</strong>, <strong>urbanização</strong>, avaliações de impacto (<strong>AIA</strong>, <strong>EIA</strong>/<strong>RIMA</strong>), avaliações estratégicas de&nbsp;comunidades tradicionais, como <strong>Quilombolas</strong> e <strong>Indígenas</strong>. Você dimensiona o problema com o qual quer lidar, mesmo que se trate de uma <strong>pequena comunidade local</strong>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-link" title="Perspectiva sistêmica interdisciplinar" %}}
Os dados informados são relacionados a <strong>fatores</strong> que você define, como violência, modelo econômico, saúde, infraestrutura, cultura local, ética, etc. A partir daí, os dados são interligados para que você descubra possíveis <strong>inter-relações</strong> e<strong> impactos</strong> que podem afetar, positiva ou negativamente, <strong>diversas dimensões</strong>. Você pode lançar mão de diversos tipos de conhecimento, sejam eles locais ou com base nas diversas áreas das <strong>ciências humanas</strong>, <strong>biológicas</strong> ou<strong> naturais</strong>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Simplicidade e complexidade" %}}
A plataforma pode ser utilizada por equipes de investigação especializadas ou por <strong>lideranças comunitárias</strong>. O que muda é o modo como o treinamento é realizado e o <strong>grau de aprofundamento</strong> desejado. Você pode validar o conhecimento levantado de forma acadêmica ou prática, de modo que seja compreensível e relevante para seu público alvo.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Políticas públicas" %}}
A partir dos dados, o sistema organiza a informação de modo que cada situação possa ser tratada de forma individual, clara e transparente, fundamentando um processo inteligente de tomada de decisão e desenvolvimento de políticas públicas ou elaboração de projetos locais. <strong>Você obtém não apenas uma "foto" da situação, você propõe soluções</strong>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Transparência e integridade" %}}
Todas as etapas de tratamento de dados pode ser comentadas, documentadas por meio de <strong>Trilhas de Auditoria</strong>, de tal modo que qualquer usuário saiba como a informação foi interpretada e decisões analíticas foram tomadas. Por isso, todas as<strong> críticas</strong> são bem vindas e podem ser convertidas em <strong>aprofundamentos</strong> ou <strong>melhores soluções</strong>.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Ajude o SocioAtlas a crescer</h1>
<h4 class="text-center">Se você edtá utilizando o SocioAtlas ou acredita no potencial deste projeto, considere investir no futuro!</h4>
<div class="text-center">
<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Contribuir <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{< /blocks/section >}}
